# Игнорировать директорию node_modules
node_modules/

# Игнорировать сгенерированные файлы
dist/
build/

# Игнорировать временные и настройки файлов Gulp
.gulp-cache/
.gulpfile.js.cache

# Игнорировать логи и отчеты о покрытии кода (если используете инструменты типа ESLint, Jest, Istanbul и др.)
*.log
coverage/

# Игнорировать настройки локального окружения, если они хранятся в .env или подобных файлах
.env

# Игнорировать файлы конфигурации IDE (например, для Visual Studio Code)
.vscode/

# Игнорировать временные файлы
*.swp

# Игнорировать файлы локализации (если они создаются)
*.pot
*.po
*.mo